<footer class="footer">
  <div class="footer-wrap pb-4">
    <div class="footer-content">
      <div class="row text-white p-3">
        <div class="col-lg-2  ft-right-border"></div>
        <div class="col-lg-2 col-md-3 col-sm-6 ft-right-border">
          <ul class="list-unstyled">
            <li class="pt-2">
              <div class="font-weight-bold "> > Services</div>
              <br class="pb-2"/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Hospital Management
                    <br/>
                    - Consulting Services
                  </a>
                </li>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <a href="/consulting" class="text-white-50 d-block border-animation">
                  > Hospital Business Analytics
                  <br/>
                  - Solutions and Services
                </a>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Market Strategy for
                    <br/>
                    - Healthcare Companies
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 ft-right-border">
          <ul class="list-unstyled">
            <li class="pt-2">
              <div class="font-weight-bold "> > Case Studies</div>
              <br class="pb-2"/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Hospital Management
                  </a>
                </li>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Market Strategy for
                    <br/>
                    - Healthcare Companies
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 ft-right-border">
          <ul class="list-unstyled">
            <li class="pt-2">
              <div class="font-weight-bold "> > Discussion</div>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Our Consultants
                  </a>
                </li>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Publications
                  </a>
                </li>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Academia
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 ft-right-border">
          <ul class="list-unstyled">
            <li class="pt-2">
              <div class="font-weight-bold "> > About Us</div>
              <br class="pb-2"/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Company Overview
                  </a>
                </li>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Getting to know MEVICO
                  </a>
                </li>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Message from our CEO
                  </a>
                </li>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Privacy Policy/Terms & Conditions
                  </a>
                </li>
              </ul>
              <br/>
              <ul class="list-unstyled pl-2">
                <li>
                  <a href="/consulting" class="text-white-50 d-block border-animation">
                    > Information Security Policy / ISMS
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 "></div>
      </div>
    </div>
    <div class="footer-contact">
      <div class="company-address text-center pt-2 pb-2">
        <h5 class="text-white ">
          Medical Video Consultancy Sri Lanka Co.Ltd.
        </h5>
        <h5 class="text-white ">
          111-123-45678, Colombo, Western City In Sri Lanka.
        </h5>
      </div>
      <div class="social-links  flex-row text-center">
        <div class="d-flex col-lg-4 col-md-6 col-sm-8 m-auto justify-content-between">
          <div >
            <a href="https://www.facebook.com" target="_blank">
              <img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="facebook"/>
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com" target="_blank">
              <img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="instagram"/>
            </a>
          </div>
          <div>
            <a href="https://www.twitter.com" target="_blank">
              <img src="https://img.icons8.com/color/48/000000/twitter-squared.png" alt="twitter"/>
            </a>
          </div>
          <div>
            <a href="https://www.youtube.com" target="_blank">
              <img src="https://img.icons8.com/color/48/000000/youtube.png" alt="youtube"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
