<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 col-lg-12">
            <mat-card>
                <mat-card-title class="text-center">
                    <h4 class="font-weight-bold">Video Chat</h4>
                    <div>
                        <label> Patient Albert ! </label>
                        <button type="button" mat-button color="warn" 
                        class="mt-5 p-2 h-p-40"
                        (click)="startVideoCall()">
                            Start Video Call
                        </button>
                        <button type="button" mat-button color="warn" 
                        class="mt-5 p-2 h-p-40"
                        (click)="mute()">
                            Mute
                        </button>
                        <button type="button" mat-button color="warn" 
                        class="mt-5 p-2 h-p-40"
                        (click)="desmute()">
                            Desmute
                        </button>
                        <button type="button" mat-button color="warn" 
                        class="mt-5 p-2 h-p-40"
                        (click)="videomute()">
                            Video Mute
                        </button>
                        <button type="button" mat-button color="warn" 
                        class="mt-5 p-2 h-p-40"
                        (click)="videodesmute()">
                        Video  Desmute
                        </button>
                        <button type="button" mat-button color="warn" 
                        class="mt-5 p-2 h-p-40"
                        (click)="endCall()">
                            End Call
                        </button>
                    </div>
                </mat-card-title>
                <mat-card-content>
                    <div class="video-container">
                        <video autoplay class="remote-video" #remoteVideo id="remoteVideo"></video>
                        <video autoplay muted class="local-video" #localVideo id="localVideo"></video>
                    </div>
                </mat-card-content>

            </mat-card>

        </div>
        <div class="col-xl-4 col-lg-12">

            <mat-card>
                <mat-card-title class="display-6 pt-5 d-flex justify-content-center">
                    <h3 class="font-weight-bold">Text Chat</h3>
                </mat-card-title>
                <mat-card-content>
                    <form [formGroup]="roomChatForm" (ngSubmit)="sendText();textInput.value=''">
                        <div class="w-100 p-10 border-radius-5 scroll-div" id="chatText" #chatText>
                        </div>
                        <div>
                            <input #textInput formControlName="text" class="border-radius-5 chat-input" type="text" placeholder="message">
                            <button type="submit" style="bottom: 0;"
                                class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid;">
        <div class="col-xl-8 point">
            <div class="row  pt-5">
                <div [class]="key.Prescription? 'col-xl-4 left-border title-pos sub-menu':'col-xl-4 left-border title-pos'" (click)="changeBackground('Prescription')">
                    Medical Prescription
                </div>
                <div [class]="key.Consults? 'col-xl-3 left-border title-pos sub-menu':'col-xl-3 left-border title-pos'" (click)="changeBackground('Consults')">
                    Consults
                </div> 
                <div [class]="key.Files? 'col-xl-2 left-border title-pos sub-menu':'col-xl-2 left-border title-pos'" (click)="changeBackground('Files')">
                    Files
                </div>
                <div [class]="key.Charts? 'col-xl-3 left-border title-pos sub-menu':'col-xl-3 left-border title-pos'" (click)="changeBackground('Charts')">
                    Charts
                </div>
            </div>
        </div>
        <div class="col-xl-4">

        </div>
    </div>

    <div *ngIf="key.Prescription">
        <app-prescription></app-prescription>
    </div>
    <div *ngIf="key.Consults">
        <app-consults [patient]="patient" ></app-consults>
    </div>
    <div *ngIf="key.Files">
        <app-files></app-files>
    </div>
    <div *ngIf="key.Charts">
        <app-charts></app-charts>
    </div>
</div>