<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 col-lg-12">
            <mat-card>
                <mat-card-title class="text-center">
                    <h4 class="font-weight-bold">Video Chat</h4>
                    <div>
                        <label> Patient Albert ! </label>
                        <button type="button" mat-button color="warn" class="mt-5 p-2 h-p-40">
                            End Call
                        </button>
                    </div>
                </mat-card-title>
                <mat-card-content>
                    <div class="video-container">
                        <video autoplay class="remote-video" #remoteVideo id="remoteVideo"></video>
                        <video autoplay muted class="local-video" #localVideo id="localVideo"></video>
                    </div>
                </mat-card-content>

            </mat-card>

        </div>
        <div class="col-xl-4 col-lg-12">

            <mat-card>
                <mat-card-title class="display-6 pt-5 d-flex justify-content-center">
                    <h3 class="font-weight-bold">Text Chat</h3>
                </mat-card-title>
                <mat-card-content>

                    <form [formGroup]="roomChatForm" (ngSubmit)="sendText()">
                        <div class="w-100 p-10 border-radius-5 " id="chatText" #chatText>
                        </div>
                        <div>
                            <input formControlName="text" class="w-80 p-10 border-radius-5 " type="text">
                            <button type="submit" style="bottom: 0;"
                                class=" mb-3 text-white font-bold color-check-in">Send</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <mat-card>
                <mat-card-title class="display-6 pt-5 d-flex justify-content-center">
                    <h3 class="font-weight-bold">Medical Prescription</h3>
                </mat-card-title>
                <mat-card-content>
                    <div>
                        <input class="w-80 p-10 border-radius-5 " type="text">
                        <button mat-raised-button class="w-20  " color="warn"> Add</button>
                    </div>
                    <div>
                        <label>Medical 01 </label><button mat-raised-button class="w-20  " color="warn">
                            Remove</button><br>
                        <label>Medical 02 </label><button mat-raised-button class="w-20  " color="warn">
                            Remove</button><br>
                        <label>Medical 03 </label><button mat-raised-button class="w-20  " color="warn">
                            Remove</button><br>
                    </div>
                    <div>
                        <input class="w-80 p-10 border-radius-5 " type="text" value="email.@gmail.com">
                        <button mat-raised-button class="w-20  " color="warn"> Send Prescription</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-4 col-lg-12">
            <mat-card>
                <mat-card-title class="display-6 pt-5 d-flex justify-content-center">
                    <h3 class="font-weight-bold">Past Consult</h3>
                </mat-card-title>
                <mat-card-content>
                    <div class="w-100 p-10 border-radius-5 ">
                        <label> Consult #12312321123 Date: 01/01/2020 </label><br>
                        <label> Consult #12312321123 Date: 01/01/2020 </label><br>
                        <label> Consult #12312321123 Date: 01/01/2020 </label><br>
                    </div>
                    <div>
                        <button mat-raised-button class="w-20  " color="warn"> See more</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-4 col-lg-12">
            <mat-card>
                <mat-card-title class="display-6 pt-5 d-flex justify-content-center">
                    <h3 class="font-weight-bold">Files share</h3>
                </mat-card-title>
                <mat-card-content>
                    <div class="w-100 p-10 border-radius-5 ">
                        <label> Patient: rediografia.jpg </label><button mat-raised-button class="w-20  " color="warn">
                            Download</button><br>
                    </div>
                    <div>
                        <button mat-raised-button class="w-20  " color="warn"> See more</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>