<div class="total">
    <h3>Payment Method</h3>
    <div class='main'>
        <div class="add-img">
            <div class="row add-account">
                <div class="col-9">
                    <input #qrDesc class="input-width" type="text" placeholder="QR description">
                </div>
                <div class="col-3">
                    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="*" style="display:none;" />
                    <button class="btn btn-primary" (click)="handleUpload(qrDesc.value)">Add</button>
                </div>
            </div>
            <ng-container *ngFor="let file of files">
                <mat-progress-bar [value]="file.progress"></mat-progress-bar>
            </ng-container>
            <div>
                <div class="row right-pad add-account" *ngIf="QRimgKey[0]">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4">
                                {{payData.QRimg[0].description}}
                            </div>
                            <div class="col-8">
                                <img class="qrImage" src="{{publicUrl + payData.QRimg[0].name}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-danger  small-font" (click)="RemoveItem(0,'qr')">Remove</button>
                    </div>
                </div>
                <div class="row right-pad add-account" *ngIf="QRimgKey[1]">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4">
                                {{payData.QRimg[1].description}}
                            </div>
                            <div class="col-8">
                                <img class="qrImage" src="{{publicUrl + payData.QRimg[1].name}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-danger  small-font" (click)="RemoveItem(1, 'qr')">Remove</button>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="add-account">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <input #bank type="text" placeholder="Bank Description">
                        </div>
                        <div class="col-6">
                            <input #account type="text" placeholder="Account Number">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary" (click)="AddAcount(bank.value, account.value)">
                        Add
                    </button>
                </div>
            </div>
            <div *ngIf="accountKey">
                <div class="row add-account" *ngFor="let item of payData.account; let i=index;">
                    <div class="col-4">
                        {{item}}
                    </div>
                    <div class="col-8">
                        <button class="btn btn-danger  small-font" (click)="RemoveItem(i,'accountKey')">Remove</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="add-url">
            <div class="row">
                <div class="col-9">
                    <input #url class="input-width" type="text" placeholder="Link Pay">
                 </div>
                 <div class="col-3">
                     <button class="btn btn-primary" (click)="AddUrl(url.value)">
                         Add
                     </button>
                 </div>
            </div>
            <div *ngIf="urlKey">
                <div class="row add-account" *ngFor="let item of payData.url; let i=index;">
                    <div class="col-4">
                    {{item}}
                    </div>
                    <div class="col-8">
                        <button class="btn btn-danger  small-font" (click)="RemoveItem(i,'urlKey')">Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-account" style="text-align:center">
            <button class="btn btn-primary" (click)="Update()">Update</button>
        </div>

    </div>
</div>
