<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Full name</th>
      <th>#consults</th>
      <th>Date of Last Consults</th>
      <th>See patient`s chart</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts; index as i">
      <td>{{ post.dni }}</td>
      <td>{{ post.fullName }}</td>
      <td>{{ post.consultCnt }}</td>
      <td>{{ post.lastConsult.split("T")[0] }}</td>
      <td (click)="detailPacient(post.dni)"><i class="fa fa-envelope"></i></td>
    </tr>
  </tbody>
</table>
