<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title class="display-12 pt-5 d-flex justify-content-center">
                <h3 class="font-weight-bold">Feedback</h3>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="feedBackForm" (ngSubmit)="sendFeedBack()">


                    <div class="col-md-6 w-100 p-10 border-radius-5 scroll-div">
                        <label>Dr: alt</label><br>
                        <label>Raking</label><br>
                        <input formControlName="rakingProvider" type="radio" name="rakingProvider" value=1>Muy mala atencion<br>
                        <input formControlName="rakingProvider" type="radio" name="rakingProvider" value=2>Mala atecion<br>
                        <input formControlName="rakingProvider" type="radio" name="rakingProvider" value=3>Buena atecion<br>
                        <input formControlName="rakingProvider" type="radio" name="rakingProvider" value=4>Muy buena atecion<br>
                        <input formControlName="rakingProvider" type="radio" name="rakingProvider" value=5>Excelente atecion<br>
                        <label>Comment</label><br>
                        <textarea formControlName="feedBackProvider" name="feedBackProvider" class="border-radius-5 chat-input" type="text"
                            placeholder="Comment" required></textarea><br>
                    </div>

                    <div class="col-md-6 w-100 p-10 border-radius-5 scroll-div">
                        <label>Aplication</label><br>
                        <label>Raking</label><br>
                        <input formControlName="rakingApp"  type="radio" name="rakingApp" value=1>Muy mala experiencia<br>
                        <input formControlName="rakingApp" type="radio" name="rakingApp" value=2>Mala experiencia<br>
                        <input formControlName="rakingApp" type="radio" name="rakingApp" value=3>Buena experiencia<br>
                        <input formControlName="rakingApp" type="radio" name="rakingApp" value=4>Muy buena experiencia<br>
                        <input formControlName="rakingApp" type="radio" name="rakingApp" value=5>Excelente experiencia<br>
                        <label>Comment</label><br>
                        <textarea formControlName="feedBackApp" name="feedBackApp" class="border-radius-5 chat-input" type="text"
                            placeholder="Comment" required></textarea>
                    </div>

                    <div>
                        <button type="submit" style="bottom: 0;" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>