<div class="p-4">
    <div>
        <button class="btn btn-danger float-right">Cancel My Subscription</button>
    </div>
    <div>
        <h3>Your account status is : Active / Unactive</h3>
        <p>You can set-up automatic payments or pay as you go. If you are a small clinic or hospital and want to
            know how we can improve your practice, contact us, we ll be happy to help.</p>
    </div>
    <div class="row">
        <div class="col-4">
            <span>Card:{{cardData && cardData.card_number}}</span>

        </div>
        <div class="col-4">
            <button class="btn btn-danger" (click)="Delete(cardData.card_number)">Remove</button>
        </div>
        <div class="col-2">
            Plan Basic

        </div>
        <div class="col-2">
            $/30

        </div>

    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Add Card</button>
    </div>

    <div class="row">
        <div class="card bg-light w-25 mx-auto">

            <div class="card-body">
                <div class="text-center">
                    <h4 class="card-title">Subscription Payment</h4>
                </div>
                <div>
                    <p class="card-text">- Send prescriptions with signature.</p>
                    <p class="card-text">- Video-call available.</p>
                    <p class="card-text">- Online patient medical records.</p>
                    <p class="card-text">- Payments with 0 commision and direct to your bank account.</p>
                </div>
                <div class="text-center">
                    <h2>$/{{planData && planData.amount}}</h2>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">Subscribe now</button>
                </div>

            </div>
        </div>

    </div>
</div>