.total{
    width:70%;
    margin: auto;
}
.header{
    padding:3%;
    padding-top:50px;
}
.detail-pane{
    background-color: darkgray;
    padding:3%;
}
.qrImage{
    width: 80%;
}
.margin-div{
    margin-bottom:10px;
}
.button-div{
    text-align: center;
    margin-bottom: 50px;
    margin-top:20px;
}