<div class="container total">
  <div class="header">
    <div>
      <h3>You should pay before starting video call</h3>
    </div>
    <div>
      <p>Amount to be paid($):<span *ngIf="payAmount" type="number">{{payAmount}}</span></p>
    </div>
    
  </div>
  <form [formGroup]="payForm" (ngSubmit)="confirmPay()">
    <div class="detail-pane  margin-div">
      <div class="qr-code">
        <h3>QR codes</h3>
        <div>
          <div class='row margin-div' *ngIf="QRimgKey[0]">
            <div class="col-4">
              <input formControlName="paySelect" type="radio" name="paySelect"
                value="{{payData.QRimg[0].description}}" />{{payData.QRimg[0].description}}<br>
            </div>
            <div class="col-8">
              <img class="qrImage" src="{{payData.QRimg[0].name}}">
            </div>
          </div>
          <div class='row margin-div' *ngIf="QRimgKey[1]">
            <div class="col-4">
              <input formControlName="paySelect" type="radio" name="paySelect"
                value="{{payData.QRimg[1].description}}" />{{payData.QRimg[1].description}}<br>
            </div>
            <div class="col-8">
              <img class="qrImage" src="{{payData.QRimg[1].name}}">
            </div>
          </div>
        </div>
      </div>
      <div class="account margin-div" *ngIf="accountKey">
        <h3>Account Banks</h3>
        <div class="add-account" *ngFor="let item of payData.account;">
          <input formControlName="paySelect" type="radio" name="paySelect"
                value="{{item}}" />{{item}}<br>
        </div>
      </div>
      <div class="link-pay margin-div" *ngIf="urlKey">
        <h3>Link Pay</h3>
        <div class="add-account" *ngFor="let item of payData.url;">
          <input formControlName="paySelect" type="radio" name="paySelect"
                value="{{item}}" />{{item}}<br>
        </div>
      </div>
    </div>
  <div class="row button-div">
    <div class="col-6">
      <button class="btn btn-primary" type="submit" [disabled]="payAmount?false:true">Confirm Pay</button>
    </div>
    <div class="col-6">
      <button class="btn btn-danger" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</form>

</div>