<div class="row">
    <div class="col-xl-6 col-md-12 col-sm-12 div-padding">
        <div class="div-style">
            <div>
                <h5>Chronic Diseases:</h5>
            </div>
          <div>
            <div class="containerDiv">
                <span class="number-wid" style="margin-left:1%"> 1.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 2.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 3.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 4.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 6.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 7.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 8.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 9.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 10.</span> 
                <input type="text" class="inp-margin last-wid">
            </div>
          </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 div-padding">
        <div class="div-style">
            <div>
                <h5>Medications:</h5>
            </div>
          <div>
            <div class="containerDiv">
                <span class="number-wid" style="margin-left:1%"> 1.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 2.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 3.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 4.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 6.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 7.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 8.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 9.</span> 
                <input type="text" class="inp-margin input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 10.</span> 
                <input type="text" class="inp-margin last-wid">
            </div>
          </div>
        </div>
    </div>
  
   
</div>
<div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12 div-padding">
        <div class="div-style">
            <div>
                <h5>Surguries/Hospitalizations:</h5>
            </div>
          <div>
            <div class="containerDiv">
                <span class="number-wid" style="margin-left:1%"> 1.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 2.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 3.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 4.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 6.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 7.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 8.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 9.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 10.</span> 
                <input type="text" class="inp-margin second-last-wid">
            </div>
          </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12 div-padding">
        <div class="div-style">
            <div>
                <h5>Family History</h5>
            </div>
          <div>
            <div class="containerDiv">
                <span class="number-wid" style="margin-left:1%"> 1.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 2.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 3.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 4.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 6.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 7.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 8.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 9.</span> 
                <input type="text" class="inp-margin second-input-wid">
            </div>
            <div class="containerDiv">
                <span class="number-wid"> 10.</span> 
                <input type="text" class="inp-margin second-last-wid">
            </div>
          </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12 div-padding">
        <div class="div-style">
            <div>
                <h5>Toxic Substances Use:</h5>
            </div>
          <div>
            <div class="containerDiv">
                <div class="row">
                    <div class="col-6">
                        <span class="number-wid"> 1. Tobacco:</span> 
                    </div>
                    <div class="col-6">
                        <input type="text" class="inp-margin second-input-wid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span class="number-wid"> 2. Alchol:</span> 
                    </div>
                    <div class="col-6">
                        <input type="text" class="inp-margin second-input-wid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span class="number-wid"> 3. Illicit drugs:</span> 
                    </div>
                    <div class="col-6">
                        <input type="text" class="inp-margin second-input-wid">
                    </div>
                </div>

            </div>
        
          </div>
        </div>
    </div>

</div>

