<div class="p-4">
    <div>
        <button class="btn btn-danger float-right" >Cancel My Subscription</button>
    </div>
    <div>
        <h3>Your account status is : Active / Unactive</h3>
        <p>You can set-up automatic payments or pay as you go. If you are a small clinic or hospital and want to
            know how we can improve your practice, contact us, we ll be happy to help.</p>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card bg-light w-75 mx-auto">
            
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="card-title">One-Time Payment</h4>
                    </div>
                    <div>
                        <p class="card-text">- Send prescriptions with signature.</p>
                        <p class="card-text">- Video-call available.</p>
                        <p class="card-text">- Online patient medical records.</p>
                        <p class="card-text">- Payments with 0 commision and direct to your bank account.</p>
                    </div>
                    <div class="text-center">
                        <h2>$/45.00</h2>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">Pay now</button>
                    </div>
            
                </div>
    
              </div>
        </div>
        <div class="col-6">
            <div *ngIf="displayPlan">
                <div class="card bg-light w-75 mx-auto"  *ngFor="let plan of planData">
            
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="card-title">{{plan.name}}</h4>
                        </div>
                        <div [innerHtml]="plan.description">
                        
                        </div>
                        <div class="text-center">
                            <h2>$/{{plan.amount}}</h2>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" (click)="Subscribe(plan._id)">Subscribe now</button>
                        </div>
                
                    </div>
        
                </div>
            </div>
          
        </div>
        
    </div>
</div>
