<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<ng-container >
  <mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem(currentUserRole)" routerLinkActive="selected" group="{{menuitem.state}}">
      <a class="p-2 w-100" appAccordionToggle [routerLink]="[ menuitem.state]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" *ngIf="menuitem.type === 'link'">
        <ng-container *ngIf="menuitem.icon === 'av_timer'">
          <mat-icon>{{ menuitem.icon }}</mat-icon>
        </ng-container>
        <ng-container *ngIf="menuitem.icon !== 'av_timer'">
          <img class="super-icon-size" src="{{menuitem.icon}}">
        </ng-container>
        <span class="ml-3">{{ menuitem.name }}</span>
        <span fxFlex></span>
        <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
      </a>
    </mat-list-item>

  </mat-nav-list>
</ng-container>
