
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
  <ng-container *ngIf="!currentUser.image">
    <img src="assets/images/users/1.jpg" alt="user" class="profile-pic">
  </ng-container>
  <ng-container *ngIf="currentUser.image">
    <img [src]="currentUser.image" alt="user" class="profile-pic">
  </ng-container>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item (click)="viewProfile()">
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>

