<div class="main">
  <div class="description">
    <h3>Personalize your waiting room</h3>
    <div>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
ratione voluptatem sequi nesciunt. Neque porro quisquam est.
    </div>
  </div>
  <div class='new-post'>
    <div class="post-title">
      <input #postTitle type="text" class="title-input" />
      <button class="btn btn-primary publish-button" 
      (click)="
      publishPost(
        postTitle.value, 
        postBody.elementRef.nativeElement.children[1].lastChild.innerHTML
        );
        postTitle.value='';
        postBody.editorInstance.setData('')
        ">
        Publish
      </button>
      <p *ngIf="postTitle.value===''&& clickKey" style="color:red">required*</p>
    </div>
    <div class="post-body">
      <ckeditor #postBody [editor]="Editor" (ready)="onReady($event)"></ckeditor>
    </div>
  </div>

  <div class='post-list' *ngFor="let item of literalArr; let i=index;" >
    <div [class]="kk[i]===false?'switch':''">
      <div class="head-bar">
        <h3 class="each-post-title pull-left">{{item.postTitle}}</h3>
        <button class="btn btn-primary edit-button edit-margin" (click)="edit(i)">Edit</button>
        <button class="btn btn-danger edit-button" (click)="delete(i)">Delete</button>
      </div>
      <div class="each-post-body" [innerHTML]="item.postBody">
      </div>
    </div>
    <div [class]="kk[i]?'switch':''">
      <div class="post-title">

        <input #editTitle type="text" class="edit-title-input" [value]="item.postTitle" />
        <button class="btn btn-primary edit-button edit-margin" 
        (click)="editOk(editTitle.value, editBody.elementRef.nativeElement.children[1].lastChild.innerHTML,i)">
          Ok
        </button>

        <button class="btn btn-danger edit-button"
        (click)="editCancel(i)">Cancel
        </button>

        <p *ngIf="editTitle.value===''&& clickKey" style="color:red">required*</p>

      </div>

      <div class="post-body">
        <ckeditor #editBody [editor]="Editor" [data]="item.postBody" (ready)="onReady($event)"></ckeditor>
      </div>
    </div>
    

  </div>
</div>