<div>
  <mat-sidenav-container class="room-container">
    <mat-sidenav class="room-sidebar" mode="side" opened>
      <div class="p-3 mt-4">
        <a class="" href="index.html">
          <!-- Logo icon -->
          <b>
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="assets/images/logo.png" alt="homepage" class="w-25">
          </b>
          <!--End Logo icon -->
          <!-- Logo text -->
          <span fxShow="false" fxShow.gt-xs class="text-dark ml-4 font-weight-bold">
            MEVICO
        </span>
        </a>
        <br/>

        <div class="font-weight-bold text-dark mt-5">Profile</div>

        <mat-divider class="mt-3"></mat-divider>
        <br/>

        <div class="d-flex justify-content-around mt-2">
          <ng-container *ngIf="providerData">
            <div><img class="profile-image" src="{{image}}" alt="provider"></div>
            <div class="d-block">
              <b>Provider:</b>
              <div>{{providerData.role}} &nbsp;{{providerData.firstName}}</div>
            </div>
          </ng-container>
        </div>
        <br/>
        <div class="font-weight-bold text-dark">Available</div>
        <mat-divider class="mt-3"></mat-divider>
        <br/>
        <ng-container *ngIf="providerData && providerData.connection">
          <div class="font-weight-bold text-blue">&nbsp;Available</div>
        </ng-container>
        <ng-container *ngIf="providerData && !providerData.connection">
          <div class="font-weight-bold text-warning">&nbsp;No Available</div>
        </ng-container>
        <!-- <ng-container >
          <div class="font-weight-bold text-warning">
            <button  mat-menu-item class="w-75 mx-auto bg-info   text-white font-20 text-center" 
            (click)="goPayAttetion()">GoPayment 
            </button>
           <button  mat-menu-item class="w-75 mx-auto bg-info   text-white font-20 text-center" 
            (click)="goChatCallAttetion()">Test call screen 
            </button> 
          </div>
        </ng-container> -->
      </div>
    </mat-sidenav>
    <div class="row">
      <div class="user-invite col-xl-6 col-lg-6">
        <mat-card class="p-3">
          <mat-card-title class="p-3 font-18 text-black-50">You can invite any patient to your waiting room, share this link:</mat-card-title>
          <div class=" d-block justify-content-between p-3">
            <div class="mb-3 text-center">
              <p  #inputRoom class="p-10 border-radius-5 " type="text">{{roomUrl}}</p>
            </div>
            <div class="text-center">
              <!-- <button  class="text-white font-bold copy-invite-url" (click)="shareRoomAddress(inputRoom)">Share</button> -->
  
              <div class="mx-5 d-block ">
                <button mat-stroked-button  class="w-p-180 p-3 text-black font-20" color="primary" [matMenuTriggerFor]="inviteMenu">Invite by <img class="w-25" src="https://img.icons8.com/nolan/48/expand-arrow.png"/></button>
  
                <mat-menu #inviteMenu="matMenu" class="w-p-180  mt-3" >
                  <button  mat-menu-item class="w-45 mx-auto bg-info   text-white font-20 text-center" (click)="openDialogue('sms')">SMS <img class="w-25" src="https://img.icons8.com/dusk/64/000000/sms.png"/></button>
                  <button  mat-menu-item class="w-45 mx-auto bg-success   text-dark font-20 mt-3 text-center"  [matMenuTriggerFor]="inviteByEmailMenu">Email <img class="w-25" src="https://img.icons8.com/nolan/64/email-open.png"/></button>
                </mat-menu>
                <mat-menu #inviteByEmailMenu="matMenu" class="w-p-180" >
                  <button  mat-menu-item class="w-75 mx-auto bg-warning   text-white font-20 " (click)="sendInvite('gmail')">Gmail <img class="w-25" src="https://img.icons8.com/fluent/48/000000/gmail.png"/></button>
                  <button  mat-menu-item class="w-75 mx-auto bg-purple   text-dark font-20 mt-3"  (click)="sendInvite('outlook')" >Outlook <img class="w-25" src="https://img.icons8.com/color/48/000000/ms-outlook.png"/></button>
                  <button  mat-menu-item class="w-75 mx-auto bg-secondary   text-dark font-20 mt-3"  (click)="sendInvite('defaultMail')" >Default <img  class="w-25" src="https://img.icons8.com/fluent/50/000000/mail.png"/></button>
                </mat-menu>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-xl-6 col-lg-6">
        <mat-card>
          <div class="video-container">
            <video autoplay muted class="local-video" #localVideo id="localVideo"></video>
          </div>
        </mat-card>
      
      </div>
      
    </div>

    <div class="container-fluid">
     
        <div class="d-flex flex-column">
          <ng-container *ngIf="literalArr">
            <mat-card *ngFor="let item of literalArr;">
              <mat-card-title class="p-3 text-center">{{item.postTitle}}</mat-card-title>
              <mat-card-content style="text-align: center;width:100%" [innerHtml]="item.postBody"></mat-card-content>
            </mat-card>
          </ng-container>

          <ng-container >
            <mat-card>
              <mat-card-title class="p-3 text-center">
                Please watch video and Imagine how to do consultancy
              </mat-card-title>
              <mat-card-content>
                <vg-player class="edit-room-video border-radius-5">
                  <vg-overlay-play></vg-overlay-play>
                  <vg-buffering></vg-buffering>
                  <vg-controls>
                    <vg-play-pause></vg-play-pause>

                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                    <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>

                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>

                    <vg-fullscreen></vg-fullscreen>
                  </vg-controls>

                  <video #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin >
                    <ng-container *ngIf="video">
                      <source [src]="video" type="video/mp4">
                      <source [src]="video" type="video/ogg">
                    </ng-container>
                  </video>
                </vg-player>
              </mat-card-content>
            </mat-card>
          </ng-container>

        </div>
 
    </div>

  </mat-sidenav-container>
</div>

