<div>
  <mat-sidenav-container class="room-container">
    <mat-sidenav class="room-sidebar" mode="side" opened>
      <div class="p-3 mt-4">
        <a class="" href="index.html">
          <!-- Logo icon -->
          <b>
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="assets/images/logo.png" alt="homepage" class="w-25">
          </b>
          <!--End Logo icon -->
          <!-- Logo text -->
          <span fxShow="false" fxShow.gt-xs class="text-dark ml-4 font-weight-bold">
            MEVICO
          </span>
        </a>
        <br />

        <div class="font-weight-bold text-dark mt-5">Profile</div>

        <mat-divider class="mt-3"></mat-divider>
        <br />

        <br />
        <div class="font-weight-bold text-dark">Available</div>
        <mat-divider class="mt-3"></mat-divider>
        <br />

      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 d-flex flex-column">
            <ng-container>
              <mat-card>
                <mat-card-title class="p-3 text-center">
                  Please watch video and Imagine how to do consultancy
                </mat-card-title>
                <mat-card-content>
                  <div class="video-container">
                    <video autoplay class="remote-video" #remoteVideo id="remoteVideo"></video>
                    <video autoplay muted class="local-video" #localVideo id="localVideo"></video>
                  </div>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </div>
          <div class="col-lg-4">
              <mat-card>
                <mat-card-title class="display-6 pt-5 d-flex justify-content-center">
                  <h3 class="font-weight-bold">Text Chat</h3>
                </mat-card-title>
                <mat-card-content>
                  <form [formGroup]="roomChatForm" (ngSubmit)="sendText()">
                      <div class="w-100 p-10 border-radius-5 scroll-div" id="chatText" #chatText>
                      </div>
                      <div>
                          <input formControlName="text" class="border-radius-5 chat-input" type="text" placeholder="message">
                          <button type="submit" style="bottom: 0;"
                              class="btn btn-primary">Send</button>
                      </div>
                  </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>